<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about us</title>

    <!-- Bootstrap core CSS -->
    <link href="../vender/flatlab/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../vender/flatlab/css/bootstrap-reset.css" rel="stylesheet" />
    <!--external css-->
    <link href="../vender/flatlab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="../vender/flatlab/css/style.css" rel="stylesheet" />
    <link href="../vender/flatlab/css/style-responsive.css" rel="stylesheet" />


</head>
<style>
    .weather-category{
        text-align: center;
    }
</style>

<body>

<div class="container-fluid">
    <div class="panel-body">
        <a href="#" class="task-thumb">
            <img src="../image/head.jpg" style="width:70px;height:70px" alt="" />
        </a>
        <div class="task-thumb-details">
            <h1><a href="#">hi 我是小六</a></h1>
            <p>有什么问题或需求您可以通过以下都三种方式联系我，小六会第一时间帮你解答问题。</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <!--widget start-->
            <section class="panel">
                <div class="twt-feed alt blue-bg">
                    <h1>微信</h1>
                    <p></p>
                    <a href="#">
                        <img src="../image/wechat.jpg" alt="" />
                    </a>
                </div>
                <div class="weather-category twt-category">
                    <h5>linzhouzhi99</h5>
                    <p>推荐使用微信联系</p>
                </div>
            </section>
            <!--widget end-->
        </div>
        <div class="col-sm-4">
            <!--widget start-->
            <section class="panel">
                <div class="twt-feed alt green-bg">
                    <h1>电话</h1>
                    <p></p>
                    <a href="#">
                        <img src="../image/phone.jpg" alt="" />
                    </a>
                </div>
                <div class="weather-category twt-category">
                    <h5>17721207044</h5>
                    <p>建议紧急的事情使用电话联系</p>
                </div>
            </section>
            <!--widget end-->
        </div>
        <div class="col-sm-4">
            <!--widget start-->
            <section class="panel">
                <div class="twt-feed alt default-bg">
                    <h1>地址</h1>
                    <p></p>
                    <a href="#">
                        <img src="../image/address.jpg" alt="" />
                    </a>
                </div>
                <div class="weather-category twt-category">
                    <h5>上海市 hellosix 科技有限公司</h5>
                    <p>欢迎来我司参观</p>
                </div>
            </section>
            <!--widget end-->
        </div>
    </div><!-- .row -->
</div>

</body>
</html>
