<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>用户后台</title>

    <link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />
    <!-- Bootstrap core CSS -->
    <link href="../vender/flatlab/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../vender/flatlab/css/bootstrap-reset.css" rel="stylesheet" />
    <!-- <link href="../vender/switch/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" /> -->
    <!--external css-->
    <link href="../vender/flatlab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="../vender/flatlab/css/style.css" rel="stylesheet" />
    <link href="../vender/flatlab/css/style-responsive.css" rel="stylesheet" />
    <link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />
    <link href="../vender/upload/upload.css" rel="stylesheet" charset="utf-8" />
    <link href="../vender/datatables/dataTables.bootstrap.css" rel="stylesheet" charset="utf-8" />
    <link href="../css/common.css" rel="stylesheet" charset="utf-8" />
    <link href="../css/search-form.css" rel="stylesheet" charset="utf-8" />
    <link href="../css/plugin.css" rel="stylesheet" charset="utf-8" />

    <script src="../vender/jquery/jquery-1.10.2.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="../vender/flatlab/js/html5shiv.js"></script>
    <script src="../vender/flatlab/js/respond.min.js"></script>
    <![endif]-->
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../vender/flatlab/js/bootstrap.min.js"></script>
    <!-- <script src="../vender/switch/js/bootstrap-switch.js"></script> -->
    <script src="../vender/flatlab/js/jquery.scrollTo.min.js"></script>
    <script src="../vender/flatlab/js/jquery.nicescroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="../vender/datatables/jquery.dataTables.js"></script>
    <script src="../vender/datatables/dataTables.bootstrap.js"></script>
    <script src="../vender/wangeditor/wangEditor.js"></script>

    <link href="../vender/switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" />
    <script src="../vender/switch/dist/js/bootstrap-switch.js"></script>


    <!--common script for all pages-->
    <script src="../vender/sparrow/i18n/lang.js"></script>
    <script src="../vender/sparrow/layer/layer.js"></script>
    <script src="../vender/sparrow/ajax.js"></script>
    <script src="../vender/sparrow/json.js"></script>
    <script src="../vender/sparrow/pack.js"></script>
    <script src="../vender/sparrow/util.js"></script>
    <script src="../vender/sparrow/smarty.js"></script>
    <script src="../vender/sparrow/validate.js"></script>
    <script src="../core/userApi.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../js/common/search-form.js"></script>
    <script src="../js/common/jstpl.js"></script>
    <script src="../js/common/iframe-msg.js"></script>

    <script src="../js/admin/config.js"></script>
    <script src="../js/admin/common.js"></script>
    <script src="../js/admin/plugin.js"></script>
    <script src="../vender/upload/upload.js"></script>
    <script src="../vender/laydate/laydate.js"></script>

    <link href="../vender/device/device.css" rel="stylesheet" media="all" />
    <script src="../vender/device/jquery.qrcode.min.js"></script>
    <script src="../vender/device/device.js"></script>

</head>
<style>
    .case{margin-top: 15px;}
    .dataTables_length, .dataTables_filter {
        display: none;
        padding: 15px;
    }
    .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #41cac0;
        border-color: #41cac0;
    }
    div.dataTables_info {
        padding-top: 8px;
        white-space: nowrap;
        display: none;
    }
    table.dataTable thead > tr > th{
        color: #41cac0;
    }
    table.dataTable > tbody > tr > th{
        font-weight: normal;
        color: #96b3b3;
    }
</style>

<body>

<section id="container" class="">
    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
        </div>
        <!--logo start-->
        <a href="javascript:;" class="logo"><span id="admin-title">Admin</span></a>
        <!--logo end-->

        <div class="nav notify-row hidden" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-bell-alt"></i>
                        <span class="badge bg-important">7</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow notify-arrow-red"></div>
                        <li>
                            <p class="red">You have 7 new notifications</p>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-red"><i class="icon-bolt"></i></span>
                                Server #3 overloaded.
                                <span class="small italic">34 mins</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-warning"><i class="icon-bell"></i></span>
                                Server #10 not respoding.
                                <span class="small italic">1 Hours</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-danger"><i class="icon-bolt"></i></span>
                                Database overloaded 24%.
                                <span class="small italic">4 hrs</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-success"><i class="icon-plus"></i></span>
                                New user registered.
                                <span class="small italic">Just now</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-info"><i class="icon-bullhorn"></i></span>
                                Application error.
                                <span class="small italic">10 mins</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="system-notify" >See all notifications</a>
                        </li>
                    </ul>
                </li>
                <!-- notification dropdown end -->
            </ul>
            <!--  notification end -->
        </div>
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="../image/head.jpg" width="30" height="30" />
                        <span class="username" id="username">smallsix</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="javascript:;" class="top-link" data-target="user"><i class="icon-user"></i>用户信息</a></li>
                        <li><a href="javascript:;" class="top-link hidden" data-target="about"><i class="icon-comment-alt"></i>联系我们</a></li>
                        <li><a href="javascript:;" class="top-link hidden" data-target="notify"><i class="icon-volume-down"></i>系统通知</a></li>
                        <li><a href="javascript:void(0)" id="user-logout"><i class="icon-key"></i> 退出</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="sidebar-menu">

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper" id="main-container" style="height: 100%">
            <!--state overview start-->
            <div class="row state-overview">
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol terques">
                            <i class="icon-anchor"></i>
                        </div>
                        <div class="value">
                            <h1 id="monitor-total">0</h1>
                            <p>总访问量</p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol red">
                            <i class="icon-moon"></i>
                        </div>
                        <div class="value">
                            <h1 id="monitor-month">0</h1>
                            <p>最近一个月</p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol yellow">
                            <i class=" icon-star-empty"></i>
                        </div>
                        <div class="value">
                            <h1 id="monitor-week">Week</h1>
                            <p>最近一周</p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol blue">
                            <i class="icon-sun"></i>
                        </div>
                        <div class="value">
                            <h1 id="monitor-today">0</h1>
                            <p>今天访问</p>
                        </div>
                    </section>
                </div>
            </div>
            <!--state overview end-->

            <div class="row">
                <div class="col-lg-8">
                    <section class="panel">
                        <header class="panel-heading blue-title">
                            <span class="icon-hand-right"></span> 最近十天访问量和访客量
                        </header>
                        <div class="panel-body text-center" style="height: 350px">
                            <canvas id="bar"></canvas>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <header class="panel-heading blue-title">
                            <span class="icon-tablet"></span> 最近十天设备访问比例
                        </header>
                        <div class="panel-body text-center" style="height: 350px">
                            <canvas id="pie"></canvas>
                        </div>
                    </section>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <section class="panel" style="padding: 15px">
                        <header class="panel-heading blue-title">
                            <span class="icon-stackexchange"></span> 前两百次访问详情
                        </header>
                        <table class="table" id="detail-table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>访问位置</th>
                                <th>访客设备</th>
                                <th>访客IP</th>
                                <th>访问时间</th>
                            </tr>
                            </thead>
                            <tbody id="monitor-detail-table">

                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </section>
    </section>
    <!--main content end-->
</section>

<script src="../js/admin/menu.js"></script>
<script src="../js/admin/login.js"></script>
<script src="../js/admin/monitor.js"></script>
<script src="../js/admin/index.js"></script>
<script src="../js/admin/manager.js"></script>
</body>
</html>
