<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>super admin</title>

    <link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />
    <!-- Bootstrap core CSS -->
    <link href="../vender/flatlab/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../vender/flatlab/css/bootstrap-reset.css" rel="stylesheet" />
    <!--external css-->
    <link href="../vender/flatlab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="../vender/flatlab/css/style.css" rel="stylesheet" />
    <link href="../vender/flatlab/css/style-responsive.css" rel="stylesheet" />
    <link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />
    <link href="../vender/upload/upload.css" rel="stylesheet" charset="utf-8" />
    <link href="../vender/datatables/dataTables.bootstrap.css" rel="stylesheet" charset="utf-8" />
    <link href="../css/common.css" rel="stylesheet" charset="utf-8" />
    <link href="../css/search-form.css" rel="stylesheet" charset="utf-8" />

    <script src="../vender/jquery/jquery-1.10.2.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="../vender/flatlab/js/html5shiv.js"></script>
    <script src="../vender/flatlab/js/respond.min.js"></script>
    <![endif]-->
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../vender/flatlab/js/bootstrap.min.js"></script>
    <script src="../vender/flatlab/js/jquery.scrollTo.min.js"></script>
    <script src="../vender/flatlab/js/jquery.nicescroll.js"></script>
    <script src="../vender/flatlab/assets/chart-master/Chart.js"></script>
    <script src="../vender/datatables/jquery.dataTables.js"></script>
    <script src="../vender/datatables/dataTables.bootstrap.js"></script>

    <!--common script for all pages-->
    <script src="../vender/sparrow/i18n/lang.js"></script>
    <script src="../vender/sparrow/layer/layer.js"></script>
    <script src="../vender/sparrow/ajax.js"></script>
    <script src="../vender/sparrow/json.js"></script>
    <script src="../vender/sparrow/pack.js"></script>
    <script src="../vender/sparrow/util.js"></script>
    <script src="../vender/sparrow/smarty.js"></script>
    <script src="../vender/sparrow/validate.js"></script>
    <script src="../core/userApi.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../js/common/search-form.js"></script>

    <script src="../js/admin/config.js"></script>
    <script src="../js/admin/common.js"></script>
    <script src="../js/admin/file_plugin.js"></script>
    <script src="../vender/upload/upload.js"></script>

</head>
<style>
    .case{margin-top: 15px;}
</style>

<body>

<section id="container" class="">
    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
        </div>
        <!--logo start-->
        <a href="#" class="logo">A<span>dmin</span></a>
        <!--logo end-->
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder="Search" />
                </li>
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="../image/head.jpg" width="30" height="30" />
                        <span class="username" id="username">smallsix</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="#"><i class=" icon-suitcase"></i>Profile</a></li>
                        <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                        <li><a href="#"><i class="icon-bell-alt"></i> Notification</a></li>
                        <li><a href="javascript:void(0)" id="user-logout"><i class="icon-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="sidebar-menu">

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper" id="main-container" style="height: 100%">
            <!--state overview start-->
            <div class="row state-overview">
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol terques">
                            <i class="icon-user"></i>
                        </div>
                        <div class="value">
                            <h1 id="monitor-total">0</h1>
                            <p>Total</p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol red">
                            <i class="icon-tags"></i>
                        </div>
                        <div class="value">
                            <h1 id="monitor-month">0</h1>
                            <p>Month</p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol yellow">
                            <i class="icon-shopping-cart"></i>
                        </div>
                        <div class="value">
                            <h1 id="monitor-week">Week</h1>
                            <p>Week</p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol blue">
                            <i class="icon-bar-chart"></i>
                        </div>
                        <div class="value">
                            <h1 id="monitor-today">0</h1>
                            <p>Today</p>
                        </div>
                    </section>
                </div>
            </div>
            <!--state overview end-->

            <div class="row">
                <div class="col-lg-8">
                    <section class="panel">
                        <header class="panel-heading">
                            Bar
                        </header>
                        <div class="panel-body text-center">
                            <canvas id="bar" height="310" width="700" ></canvas>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <header class="panel-heading">
                            Pie
                        </header>
                        <div class="panel-body text-center" style="padding: 30px">
                            <canvas id="pie" height="280" width="250"></canvas>
                        </div>
                    </section>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Basic Table
                        </header>
                        <table class="table" id="detail-table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </section>
    </section>
    <!--main content end-->
</section>

<script src="../js/admin/menu.js"></script>
<script src="../js/admin/login.js"></script>
<script src="../js/admin/monitor.js"></script>
<script src="../js/admin/manager.js"></script>
</body>
</html>
