<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.hellosix.dao.IUserDao">
    <select id="getUserList"  resultType="cn.hellosix.model.User">
        select * from smallsix.user limit 1000
    </select>
    <select id="getUser"  resultType="cn.hellosix.model.User">
        select * from smallsix.user where id=#{id}
    </select>
    <select id="getUserByName"  resultType="cn.hellosix.model.User">
        select * from smallsix.user where username=#{username}
    </select>
    <delete id="removeUser" parameterType="int">
        delete from smallsix.user where id = #{id};
    </delete>
    <insert id="addUser"  parameterType="cn.hellosix.model.User">
        insert into
        smallsix.user(username, password, head,phone,wechat,email,address,birthday,service_time,database_name, menu,title,add_time)
        values(#{username},#{password},#{head},#{phone},#{wechat},#{email},#{address},#{birthday},#{serviceTime},#{databaseName},#{menu},#{title},#{addTime})
    </insert>
    <update id="updateUser"  parameterType="cn.hellosix.model.User" >
        UPDATE
        smallsix.user
        SET
        <if test="username != null">
            username = #{username},
        </if>
        <if test="password != null">
            password = #{password},
        </if>
        <if test="head != null">
            head = #{head},
        </if>
        <if test="phone != null">
            phone = #{phone},
        </if>
        <if test="wechat != null">
            wechat = #{wechat},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="address != null">
            address = #{address},
        </if>
        <if test="birthday != null">
            birthday = #{birthday},
        </if>
        <if test="serviceTime != null">
            service_time = #{serviceTime},
        </if>
        <if test="databaseName != null">
            database_name = #{databaseName},
        </if>
        <if test="menu != null">
            menu = #{menu},
        </if>
        <if test="title != null">
            title = #{title},
        </if>
        add_time = #{addTime}
        WHERE
        id = #{id}
    </update>
</mapper>