.panel-heading{
    height: 55px;
}
.btn-margin-left{
    margin-left: 10px;
}

.btn-xs{
    margin-left: 3px;
}

html,body{
    margin: 0;
    height: 100%;
}
#main-container,#main-content{
    height: 100%;
}

.img-item{
    margin-right: 7px;
}
.video-item{
    margin-right: 10px;
}
.music-item{
    float: left;
    width: 130px;
    min-width: 130px;
    height: 50px;
    margin-right: 7px;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }