.panel-heading{
    height: 55px;
}
.btn-margin-left{
    margin-left: 10px;
}

.btn-xs{
    margin-left: 3px;
}

html,body{
    margin: 0;
    height: 100%;
}
#main-container,#main-content{
    height: 100%;
}


.blue-title{
    color:#65cece;
}

.tbody-row > tr > td{
    max-width: 150px;
}

table.field-table > tbody > tr > td{
    max-width: 150px;
}
.width-60{
    width: 60px;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }