div.search-form{
    width: 100%;
    padding: 15px;
}


.search-form > .search-li{
    width: 100%;
    padding-top: 10px;
    border-bottom: 1px dashed #d8f1ef;
    float: left;
    height: 40px;
}
.search-li > .search-title{
    float: left;
    color: #ffffff;
    display: inline;
    padding: 0.4em 0.7em;
    margin-right: 10px;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #2cc8c0;
}

.search-li > .search-item{
    float: left;
    margin-right:15px;
    cursor: pointer;
}
.search-item-query{
    float: left;
    margin-right:15px;
    cursor: pointer;
}
.search-item-range{
    float: left;
    height: 20px;

}
.search-item-range > *{
    float: left;
    height: 20px;
}
.search-item-range >input{
    width: 65px;
}
.search-item-submit{
    background-color: #38c9bf;
    float: left;
    margin-left: 10px;
    border: 1px solid #38c9bf;
    width: 40px;
    color:#ffffff;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}

.search-li > .search-item.active,.search-item-query.active{
    color:#38c9bf;
}

.search-query{
    float: left;
    width: 150px;
    margin-top: -1px;
}


.search-query > input{
    height: 20px;
}

.search-button{
    float: left;
    margin-left: 10px;
    margin-top: -1px;
    background-color: #38c9bf;
    float: left;
    border: 1px solid #38c9bf;
    width: 40px;
    color:#ffffff;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}

.table-sort-button{
    cursor: pointer;
    color:#38c9bf;
    margin-left: 5px;
}
