<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<header>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>super admin</title>

    <link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />
    <!-- Bootstrap core CSS -->
    <link href="../vender/flatlab/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../vender/flatlab/css/bootstrap-reset.css" rel="stylesheet" />
    <!--external css-->
    <link href="../vender/flatlab/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="../vender/flatlab/css/style.css" rel="stylesheet" />
    <link href="../vender/flatlab/css/style-responsive.css" rel="stylesheet" />
    <link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />
    <link href="../css/common.css" rel="stylesheet" charset="utf-8" />
    <link href="../css/search-form.css" rel="stylesheet" charset="utf-8" />

    <script src="../vender/jquery/jquery-1.10.2.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="../vender/flatlab/js/html5shiv.js"></script>
    <script src="../vender/flatlab/js/respond.min.js"></script>
    <![endif]-->
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../vender/flatlab/js/bootstrap.min.js"></script>
    <script src="../vender/flatlab/js/jquery.scrollTo.min.js"></script>
    <script src="../vender/flatlab/js/jquery.nicescroll.js"></script>
    <!--common script for all pages-->
    <script src="../vender/sparrow/i18n/lang.js"></script>
    <script src="../vender/sparrow/layer/layer.js"></script>
    <script src="../vender/sparrow/ajax.js"></script>
    <script src="../vender/sparrow/json.js"></script>
    <script src="../vender/sparrow/pack.js"></script>
    <script src="../vender/sparrow/util.js"></script>
    <script src="../vender/sparrow/smarty.js"></script>
    <script src="../vender/sparrow/validate.js"></script>
    <script src="../core/userApi.js"></script>
    <script src="../js/common/common.js"></script>
</header>
</html>