<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://localhost:8182/vender/jquery/jquery-3.3.1.min.js"></script>
    <script src="http://localhost:8182/vender/sparrow/layer/layer.js"></script>
    <script src="http://localhost:8182/vender/sparrow/ajax.js"></script>
    <script src="http://localhost:8182/core/smallsix_smurf7_banner.js"></script>
</head>
<body>
<h1>hello api user</h1>
</body>
<script>
    banner.getBannerById2({"id":1}, function(obj){
        console.log(obj);
    })
</script>
</html>